<!DOCTYPE HTML>
<html ng-app="ContainersApp">
	<head>
		<title>Venda de containers usados - Containers Brasil - Venda de containers, câmaras frias, e módulos metálicos habitacionais para todo o Brasil.</title>
		
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		
		<meta name="description" content="A Containers Brasil é uma empresa especializada na venda de containers, câmaras frias, e módulos metálicos habitacionais (Containers modulares), que visam otimizar a relação custo x benefício e proporcionar aos clientes soluções inteligentes para suas necessidades.">
		<meta name="robots" content="index, follow">
		<meta name="keywords" content="container, sanitario, metálico, locações, containers, tamanho, conteineres, aço, galvanizado, aluguel, obras, comprar, preco, Venda, alojamentos, novo, desmontavel, construcao, venda, vestiário, área, vivência, Containers, armazenagem, rio, habitaveis, usados, plantao, vendas, alugar, sp, depósito, locação, câmara, fria, es, venta, Modulo, habitavel, rj, Locar, painel, sanduiche, dormitorio, obra, fabricante, Modulos, janeiro, desmontáveis, quanto, custa, usado, habitação, dormitório, container, 18, deposito, alojamento, sanitário, almoxarifado, stand, container, construção, civil, Módulos, habitacionais, empresa, empresas, como, medidas, banheiro, escritorio, canteiro, tipo, dimensão, casa, containner, sao, paulo, escritório, eps, vendo, fabrica, ares, vivencias, novos, Container, Módulo, habitacional, Locação, vestiario, aox, brasil, containers, Aluguel, metalico, preço, tamanhos, vazio, depósitos, cotainer, aco, habitáveis, com, beliches, desmontaveis, guarda, materiais, contêiners, módulo, desmontável, compro, contêniner, compra, preços, box, containers, rj, container, vestiários, sanitarios, containers, rio, vicil, fabricação, tipos, áreas, vivências, estandes, são, capital, 20, reefer, frigorífico, dimensões, ou, conteiner, locar, vestiarios, módulos, sanduíche, dormitorios, rj, galvalume, stands, containers, pintados, escritórios, refeitório, ar, condicionado, refeitorio, almoxarifados, containes, pés, 6m, campinas, contêiner, onde, dormitórios, armazenamento, continer, vão, livre, refeitórios, no, dry, andaime, andaimes, container, habitável, metálicos, valor, qual, escritorios, contaner, site, area, vivencia, modular, habitavel, escora, custo, contêineres, escoras, janeiro, sanitários, metalicos, containeres, congelados, isotermicos, conteineires, camara, oficina, beliche, modelos, container, conteiners, wc, locacao, casas, construcão, bulk, climatizado, refrigerado, pintado, valores, plantão, net, depositos, coletivo, estande, nr18, vazios, wcs" />
		<meta name="author" content="klayton leandro" />
		
		<meta property="og:locale" content="pt_BR">
		<meta property="og:title" content="Containers Brasil - Venda de containers e módulos metálicos habitacionais para todo o Brasil">
		<meta property="og:type" content="website">
		<meta property="og:description" content="A Containers Brasil é uma empresa especializada na venda de containers, câmaras frias, e módulos metálicos habitacionais (Containers modulares), que visam otimizar a relação custo x benefício e proporcionar aos clientes soluções inteligentes para suas necessidades.">
		<meta property="og:url" content="http://www.containerexpressbrasil.com.br">
		<meta property="og:site_name" content="Containers Brasil">
		<meta name="author" content="klayton leandro" />

		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
	</head>
	<body ng-controller="ContainersController">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
					    <div>
					        <span class="image"><img src="/images/avatar.png" alt="" /></span>
					    </div>
						<div id="logo">
							<h1 id="title" >Containers Brasil</h1>
							<br>
							<p class="icon fa-phone">2059-7567</p>
							<br>
							<p target="_blank" class="icon fa-whatsapp"><a href="https://api.whatsapp.com/send?phone=5511998955982">WhatsApp</p>
							<br>
							<p target="_blank" class="icon fa-whatsapp"><a href="https://api.whatsapp.com/send?phone=5511991237423">WhatsApp</p>
							<br>

							<p>Encontre a solução ideal para você.</p>
						</div>
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/#inicio" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Início</span></a></li>
								<li><a href="/#solucoes" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-building-o">Soluções</span></a></li>
								<li><a href="#" id="portfolio-link" class="skel-layers-ignoreHref active"><span class="icon fa-th">Equipamentos</span></a></li>
								<li><a href="/#sobre" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">Sobre a Empresa</span></a></li>
								<li><a href="/#orcamento" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Orçamento</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="tel:+5511998955982" class="icon fa-phone"><span class="label">Telefone</span></a></li>
							<li><a href="https://api.whatsapp.com/send?phone=5511998955982" target="_blank" class="icon fa-whatsapp"><span class="label">WhatsApp</span></a></li>
							<li><a href="skype:+5511998955982?chat" class="icon fa-skype"><span class="label">Skype</span></a></li>
							<li><a href="https://www.facebook.com/ContainersBrasil/" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="mailto:contato@containerexpressbrasil.com.br" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

					<!-- Intro -->
					<section id="inicio" class="one dark cover">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(mobile)">
									<article class="item">
										<a href="#">Container DRY</a>
										<a class="image fit" href="#"><img src="/images/portfolio/20-dry.jpg" alt="" /></a>
									</article>
								</div>
								<div class="4u 12u$(mobile)">
									<article class="item">
										<a href="reefer">Container REEFER</a>
										<a class="image fit" href="reefer"><img src="https://painel.solidweb.com.br/uploads/55/reefer-40.jpg" alt="" /></a>
									</article>
								</div>
								<div class="4u$ 12u$(mobile)">
									<article class="item">
										<a href="personalizado">Projeto Personalizado</a>
										<a class="image fit" href="personalizado"><img src="https://preview.ibb.co/ht0DO8/charming.jpg" alt="" /></a>
									</article>
								</div>
							</div>

						</div>
					</section>

					<!-- Portfolio -->
					<section id="solucoes" class="two">
						<div class="container">

							<header>
								<h2 style="font-weight: 400">CONTAINER DRY</h2>
							</header>
							
							<p style="text-align: justify !important;">
								Esse é o container mais usado no mundo é destinado a cargas gerais, ele é totalmente fechado apenas com as portas padrões no fundo do container. Esse container também é um dos mais usados na modificação de container para casas, escritórios e etc. 
							</p>
							
							<div class="row">
								<p style="text-align: justify !important;"><a href="" class="button scrolly">DRY 20'</a></p>
							</div>							
							<div class="4u 12u$(mobile)">
									<article class="item">
										<a class="image fit"><img src="/images/portfolio/20-dry.jpg" alt="" /></a>
									</article>
								</div>
							<div class="row">
								<div class="8u 12u$(mobile)">
									<div class="table-responsive">
										<table style="/* border: solid 1px #222629; */">
											<tbody>
												<tr>
													<td>&nbsp;</td>
													<th style="border: solid 1px #222629;padding: 4px; background: #b9bfc3; color: #FFF;">Medidas externas</th>
													<td>&nbsp;</td>
													<th style="border: solid 1px #222629;padding: 4px; background: #b9bfc3; color: #FFF;">Medidas internas</th>
												</tr>
												<tr style="border: solid 1px #222629;">
													<th style="text-align:left;border: solid 1px #222629;padding: 4px; background: #b9bfc3; color: #FFF;">Comprimento</th>
													<td>6,058 m</td>
													<th style="text-align:left;border: solid 1px #222629;padding: 4px; background: #b9bfc3; color: #FFF;">Comprimento</th>
													<td>5,900 m</td>
												</tr>
												<tr style="border: solid 1px #222629;">
													<th style="text-align:left; padding: 4px; background: #b9bfc3; color: #FFF;">Largura</th>
													<td style="border: solid 1px #222629;">2,438 m</td>
													<th style="text-align:left; padding: 4px; background: #b9bfc3; color: #FFF;">Largura</th>
													<td style="border: solid 1px #222629;">2,352 m</td>
												</tr>
												<tr style="border: solid 1px #222629;">
													<th style="text-align:left; padding: 4px; background: #b9bfc3; color: #FFF;">Altura</th>
													<td style="border: solid 1px #222629;">2,591 m</td>
													<th style="text-align:left; padding: 4px; background: #b9bfc3; color: #FFF;">Altura</th>
													<td style="border: solid 1px #222629;">2,386 m</td>
												</tr>
												<tr style="border: solid 1px #222629;">
													<td colspan="4" style="text-align:center">Capacidade cúbica: 33 m³</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								
								
								
							</div>
							
							
							<div class="row">
								<p style="text-align: justify !important;"><a href="" class="button scrolly">DRY 40' DC</a></p>
							</div>							
							<div class="4u 12u$(mobile)">
									<article class="item">
										<a class="image fit"><img src="/images/portfolio/40-dry-box.jpg" alt="" /></a>
									</article>
								</div>
							<div class="row">
								<div class="8u 12u$(mobile)">
									<div class="table-responsive">
										<table style="/* border: solid 1px #222629; */">
											<tbody>
												<tr>
													<td>&nbsp;</td>
													<th style="border: solid 1px #222629;padding: 4px; background: #b9bfc3; color: #FFF;">Medidas externas</th>
													<td>&nbsp;</td>
													<th style="border: solid 1px #222629;padding: 4px; background: #b9bfc3; color: #FFF;">Medidas internas</th>
												</tr>
												<tr style="border: solid 1px #222629;">
													<th style="text-align:left;border: solid 1px #222629;padding: 4px; background: #b9bfc3; color: #FFF;">Comprimento</th>
													<td>12,192 m</td>
													<th style="text-align:left;border: solid 1px #222629;padding: 4px; background: #b9bfc3; color: #FFF;">Comprimento</th>
													<td>12,033 m</td>
												</tr>
												<tr style="border: solid 1px #222629;">
													<th style="text-align:left; padding: 4px; background: #b9bfc3; color: #FFF;">Largura</th>
													<td style="border: solid 1px #222629;">2,438 m</td>
													<th style="text-align:left; padding: 4px; background: #b9bfc3; color: #FFF;">Largura</th>
													<td style="border: solid 1px #222629;">2,352 m</td>
												</tr>
												<tr style="border: solid 1px #222629;">
													<th style="text-align:left; padding: 4px; background: #b9bfc3; color: #FFF;">Altura</th>
													<td style="border: solid 1px #222629;">2,591 m</td>
													<th style="text-align:left; padding: 4px; background: #b9bfc3; color: #FFF;">Altura</th>
													<td style="border: solid 1px #222629;">2,386 m</td>
												</tr>
												<tr style="border: solid 1px #222629;">
													<td colspan="4" style="text-align:center">Capacidade cúbica: 67,6 m³</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								
								
								
							</div>
							
							<div class="row">
								<p style="text-align: justify !important;"><a href="" class="button scrolly">DRY 40' HC</a></p>
							</div>		
							<div class="4u 12u$(mobile)">
									<article class="item">
										<a class="image fit"><img src="/images/portfolio/40-dry-high-cube.jpg" alt="" /></a>
									</article>
								</div>
								
							</div>					
							
							<div class="row">
								<div class="8u 12u$(mobile)">
									<div class="table-responsive">
										<table style="/* border: solid 1px #222629; */">
											<tbody>
												<tr>
													<td>&nbsp;</td>
													<th style="border: solid 1px #222629;padding: 4px; background: #b9bfc3; color: #FFF;">Medidas externas</th>
													<td>&nbsp;</td>
													<th style="border: solid 1px #222629;padding: 4px; background: #b9bfc3; color: #FFF;">Medidas internas</th>
												</tr>
												<tr style="border: solid 1px #222629;">
													<th style="text-align:left;border: solid 1px #222629;padding: 4px; background: #b9bfc3; color: #FFF;">Comprimento</th>
													<td>12,192 m</td>
													<th style="text-align:left;border: solid 1px #222629;padding: 4px; background: #b9bfc3; color: #FFF;">Comprimento</th>
													<td>12,033 m</td>
												</tr>
												<tr style="border: solid 1px #222629;">
													<th style="text-align:left; padding: 4px; background: #b9bfc3; color: #FFF;">Largura</th>
													<td style="border: solid 1px #222629;">2,438 m</td>
													<th style="text-align:left; padding: 4px; background: #b9bfc3; color: #FFF;">Largura</th>
													<td style="border: solid 1px #222629;">2,352 m</td>
												</tr>
												<tr style="border: solid 1px #222629;">
													<th style="text-align:left; padding: 4px; background: #b9bfc3; color: #FFF;">Altura</th>
													<td style="border: solid 1px #222629;">2,896 m</td>
													<th style="text-align:left; padding: 4px; background: #b9bfc3; color: #FFF;">Altura</th>
													<td style="border: solid 1px #222629;">2,694 m</td>
												</tr>
												<tr style="border: solid 1px #222629;">
													<td colspan="4" style="text-align:center">Capacidade cúbica: 76,3 m³</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								
								
							

						</div>
					</section>
					
					<section id="solucoes" class="three">
						<div class="container">
							<p style="text-align: justify !important;">
							Entre em <a href="/#orcamento">contato</a> com um de nossos representantes de vendas para encontrar a solução ideal para você.</p>
						</div>
					</section>

					
			</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; Containers Brasil. Todos os direitos reservados.</li><li>2007 - 2018</li>
						<li>CNPJ Nº07.624.908/0001-15</li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/jquery.scrollzer.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

	</body>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
	
	<script type="text/javascript">
		var app = angular.module('ContainersApp', []);
		app.controller('ContainersController', function($scope, ConexaoWS) {
			
			$scope.enviar = function() {
				ConexaoWS.post('mensagem', $scope.form);
				$scope.form = {};
		        alert('Mensagem enviada com sucesso!');
			}
		});
		
		// Factory dos WS.
		app.factory('ConexaoWS', ['$http', function ($http) {
		
		    var urlBase = '/API/';
		    var ConexaoWS = {};
		
		    ConexaoWS.get = function (model) {
		        return $http({ url: urlBase + model, method: "GET"});
		    };
		    
		    ConexaoWS.get = function (model, params) {
		        return $http({ url: urlBase + model, method: "GET", params: params});
		    };
		
		
		    ConexaoWS.post = function (model, params) {
		        return $http({ url: urlBase + model, method: "POST", params: params});
		    };
		    
		    ConexaoWS.put = function (model, params) {
		        return $http({ url: urlBase + model, method: "PUT", params: params});
		    };
		    
		    ConexaoWS.delete = function (model, params) {
		        return $http({ url: urlBase + model, method: "DELETE", params: params});
		    };
		    
		    return ConexaoWS;
		
		}]);
		
		
            
            
            
    </script>
    
	<script type="text/javascript">
	    window.smartlook||(function(d) {
	    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
	    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
	    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
	    })(document);
	    smartlook('init', '440a91a5c590b5fb3d6d8eefe657603855ff1400');
	</script>
	
		

</html>