<!DOCTYPE HTML>
<html ng-app="ContainersApp">
	<head>
		<title>Venda de containers usados - Containers Brasil - Venda de containers, câmaras frias, e módulos metálicos habitacionais para todo o Brasil.</title>
		
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		
		<meta name="description" content="A Containers Brasil é uma empresa especializada na venda de containers, câmaras frias, e módulos metálicos habitacionais (Containers modulares), que visam otimizar a relação custo x benefício e proporcionar aos clientes soluções inteligentes para suas necessidades.">
		<meta name="robots" content="index, follow">
		<meta name="keywords" content="container, sanitario, metálico, locações, containers, tamanho, conteineres, aço, galvanizado, aluguel, obras, comprar, preco, Venda, alojamentos, novo, desmontavel, construcao, venda, vestiário, área, vivência, Containers, armazenagem, rio, habitaveis, usados, plantao, vendas, alugar, sp, depósito, locação, câmara, fria, es, venta, Modulo, habitavel, rj, Locar, painel, sanduiche, dormitorio, obra, fabricante, Modulos, janeiro, desmontáveis, quanto, custa, usado, habitação, dormitório, container, 18, deposito, alojamento, sanitário, almoxarifado, stand, container, construção, civil, Módulos, habitacionais, empresa, empresas, como, medidas, banheiro, escritorio, canteiro, tipo, dimensão, casa, containner, sao, paulo, escritório, eps, vendo, fabrica, ares, vivencias, novos, Container, Módulo, habitacional, Locação, vestiario, aox, brasil, containers, Aluguel, metalico, preço, tamanhos, vazio, depósitos, cotainer, aco, habitáveis, com, beliches, desmontaveis, guarda, materiais, contêiners, módulo, desmontável, compro, contêniner, compra, preços, box, containers, rj, container, vestiários, sanitarios, containers, rio, vicil, fabricação, tipos, áreas, vivências, estandes, são, capital, 20, reefer, frigorífico, dimensões, ou, conteiner, locar, vestiarios, módulos, sanduíche, dormitorios, rj, galvalume, stands, containers, pintados, escritórios, refeitório, ar, condicionado, refeitorio, almoxarifados, containes, pés, 6m, campinas, contêiner, onde, dormitórios, armazenamento, continer, vão, livre, refeitórios, no, dry, andaime, andaimes, container, habitável, metálicos, valor, qual, escritorios, contaner, site, area, vivencia, modular, habitavel, escora, custo, contêineres, escoras, janeiro, sanitários, metalicos, containeres, congelados, isotermicos, conteineires, camara, oficina, beliche, modelos, container, conteiners, wc, locacao, casas, construcão, bulk, climatizado, refrigerado, pintado, valores, plantão, net, depositos, coletivo, estande, nr18, vazios, wcs" />
		<meta name="author" content="klayton leandro" />
		
		<meta property="og:locale" content="pt_BR">
		<meta property="og:title" content="Containers Brasil - Venda de containers e módulos metálicos habitacionais para todo o Brasil">
		<meta property="og:type" content="website">
		<meta property="og:description" content="A Containers Brasil é uma empresa especializada na venda de containers, câmaras frias, e módulos metálicos habitacionais (Containers modulares), que visam otimizar a relação custo x benefício e proporcionar aos clientes soluções inteligentes para suas necessidades.">
		<meta property="og:url" content="http://www.containerexpressbrasil.com.br">
		<meta property="og:site_name" content="Containers Brasil">
		<meta name="author" content="klayton leandro" />


		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
	</head>
	<body ng-controller="ContainersController">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
					    <div>
					        <span class="image"><img src="images/avatar.png" alt="" /></span>
					    </div>
						<div id="logo">
							<h1 id="title" >Containers Brasil</h1>
							<br>
							<h1 class="icon fa-phone"/>2059-7567</h1><br>
							<H1 target="_blank" class="icon fa-whatsapp"><a href="https://api.whatsapp.com/send?phone=5511998955982">WhatsApp</H1>
							<br>
							<p target="_blank" class="icon fa-whatsapp"><a href="https://api.whatsapp.com/send?phone=5511991237423">WhatsApp</p>
							<br>

							<p>Encontre a solução ideal para você.</p>
						</div>
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#inicio" id="top-link" class="skel-layers-ignoreHref active"><span class="icon fa-home">Início</span></a></li>
								<li><a href="#solucoes" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-building-o">Soluções</span></a></li>
								<li><a href="/equipamentos/dry" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Equipamentos</span></a></li>
								<li><a href="#sobre" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">Sobre a Empresa</span></a></li>
								<li><a href="#orcamento" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Orçamento</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="tel:+5511998955982" class="icon fa-phone"><span class="label">Telefone</span></a></li>
							<li><a href="https://api.whatsapp.com/send?phone=5511998955982" target="_blank" class="icon fa-whatsapp"><span class="label">WhatsApp</span></a></li>
							<li><a href="skype:+5511998955982?chat" class="icon fa-skype"><span class="label">Skype</span></a></li>
							<li><a href="https://www.facebook.com/ContainersBrasil/" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="mailto:contato@containerexpressbrasil.com.br" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

					<!-- Intro -->
					<section id="inicio" class="one dark cover">
						<div class="container">
							<header>
								<h2 class="alt">Seja bem-vindo à <strong>Containers Brasil</strong>, a empresa responsável por encontrar a <a href="#produtos">solução</a> ideal para você.</h2>
								<p style="text-align: justify !important;">Especializada em venda e locação de containers refrigerados,
								que visam otimizar a relação custo x benefício proporcionando soluções inteligentes para suas necessidades.</p>
							</header>

							<footer>
								<a href="#solucoes" class="button scrolly">Conhecer Soluções</a>
							</footer>

						</div>
					</section>

					<!-- Portfolio -->
					<section id="solucoes" class="two">
						<div class="container">

							<header>
								<h2>Soluções</h2>
							</header>

							<p style="text-align: justify !important;">Seja qual for sua necessidade, seja para estocagem de mercadorias, condicionamento de insumos, depósitos, almoxarifados, resfriamento ou congelamento de mercadorias, até mesmo containers casa, escritório, salas de aula, entre outros.
							Entre em <a href="#orcamento">contato</a> com um de nossos representantes de vendas para encontrar a solução ideal para você.</p>

							<div class="row">
								<div class="4u 12u$(mobile)">
									<a href="/equipamentos/dry">
										<article class="item">
											<header>
												<h3>Container DRY</h3>
											</header>
											<a class="image fit" href="/equipamentos/dry"><img src="images/portfolio/20-dry.jpg" alt=""/></a>
											<header>
												<hr />
												<h3><i>Usado para cargas secas, que não requerem de meio ambiente quando em trânsito.</i></h3>
												<a href="/equipamentos/dry" class="button scrolly" >Saiba Mais</a>
											</header>
										</article>
									</a>
								</div>
								<div class="4u 12u$(mobile)">
									<a href="/equipamentos/reefer">
										<article class="item">
											<header>
												<h3>Container REEFER</h3>
											</header>
											<a class="image fit" href="/equipamentos/reefer"><img src="images/portfolio/40-dry-box.jpg" alt="" /></a>
											<header>
												<hr />
												<h3><i>Usado para transporte de cargas perecíveis que precisam estar acondicionadas.</i></h3>
												<a href="/equipamentos/reefer" class="button scrolly">Saiba Mais</a>
											</header>
										</article>
									</a>
								</div>
								<div class="4u$ 12u$(mobile)">
									<a href="/equipamentos/personalizado">
										<article class="item">
											<header>
												<h3>Projeto Personalizado</h3>
											</header>
											<a class="image fit" href="/equipamentos/personalizado"><img src="images/portfolio/projeto.jpg" alt="" /></a>
											<header>
												<hr />
												<h3><i>Utilizados como salas almoxarifados, escritórios e plantão de vendas.</i></h3>
												<a href="/equipamentos/personalizado" class="button scrolly">Saiba Mais</a>
											</header>
										</article>
									</a>
								</div>
							</div>

						</div>
					</section>

					<!-- About Me -->
					<section id="sobre" class="three">
						<div class="container">

							<header>
								<h2>Sobre a Empresa</h2>
							</header>

							<a href="#" class="image featured"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3645.1471713168003!2d-46.49836638501402!3d-23.990579584471597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjPCsDU5JzI2LjEiUyA0NsKwMjknNDYuMiJX!5e0!3m2!1spt-BR!2sus!4v1499132364224" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe></a>

							<p style="text-align: justify !important;">A Containers Brasil é a empresa de referência no mercado nacional quando trata-se do assunto containers. Atuando há 10 anos no mercado, garantimos total segurança e satisfação na hora da compra de nossos containers. Desenvolvemos módulos habitacionais e também projetos especiais adequando nossas soluções ao que melhor se encaixe em sua necessidade.</p>
							<p style="text-align: justify !important;">Nosso terminal situa-se na Marginal da Rodovia Padre Manoel da Nóbrega, KM 286, número 700. Jardim Samaritá - São Vicente/SP.</p>
							<p>ENTRE EM <a href="#orcamento">CONTATO</a> AGORA MESMO. GARANTIMOS O MELHOR NEGÓCIO!</p>

						</div>
					</section>

				<!-- Contact -->
					<section id="orcamento" class="four">
						<div class="container">

							<header>
								<h2>Orçamento</h2>
							</header>

							<p>Entre em contato conosco para sanar suas dúvidas e fechar negócio.</p>

							<form id="form-contato" ng-submit="enviar()">
								<div class="row">
									<div class="6u 12u$(mobile)"><input type="text" ng-model="form.nome" placeholder="Nome" required /></div>
									<div class="6u$ 12u$(mobile)"><input type="text" ng-model="form.email" placeholder="Email" required /></div>
									<div class="6u 12u$(mobile)"><input type="text" ng-model="form.celular" placeholder="Celular" required /></div>
									<div class="6u 12u$(mobile)"><input type="text" ng-model="form.assunto" placeholder="Assunto" required /></div>
									<div class="12u$">
										<select ng-model="form.equipamento">
											<option value="Selecione o equipamento de interesse"'>Selecione o equipamento de interesse</option>
											<option value="DRY 20'">DRY 20'</option>
											<option value="DRY 40'">DRY 40'</option>
											<option value="DRY 40' HIGH-CUBE">DRY 40' HIGH-CUBE</option>
											<option value="REEFER 20'">REEFER 20'</option>
											<option value="REEFER 40'">REEFER 40'</option>
											<option value="PROJETO PERSONALIZADO">PROJETO PERSONALIZADO</option>
											<option value="OUTROS">OUTROS</option>
										</select>
									</div>
									<div class="12u$">
										<textarea ng-model="form.mensagem" placeholder="Mensagem"></textarea>
									</div>
									<div class="12u$">
										<input type="submit" value="Solicitar Contato" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>


		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; Containers Brasil Express. Todos os direitos reservados.</li><li>2007 - 2018</li>
						<li>CNPJ Nº07.624.908/0001-15</li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/jquery.scrollzer.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

	</body>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
	
	<script type="text/javascript">
		var app = angular.module('ContainersApp', []);
		app.controller('ContainersController', function($scope, ConexaoWS) {
			
			$scope.enviar = function() {
				ConexaoWS.post('mensagem', $scope.form);
				$scope.form = {};
		        alert('Mensagem enviada com sucesso!');
			}
		});
		
		// Factory dos WS.
		app.factory('ConexaoWS', ['$http', function ($http) {
		
		    var urlBase = '/API/';
		    var ConexaoWS = {};
		
		    ConexaoWS.get = function (model) {
		        return $http({ url: urlBase + model, method: "GET"});
		    };
		    
		    ConexaoWS.get = function (model, params) {
		        return $http({ url: urlBase + model, method: "GET", params: params});
		    };
		
		
		    ConexaoWS.post = function (model, params) {
		        return $http({ url: urlBase + model, method: "POST", params: params});
		    };
		    
		    ConexaoWS.put = function (model, params) {
		        return $http({ url: urlBase + model, method: "PUT", params: params});
		    };
		    
		    ConexaoWS.delete = function (model, params) {
		        return $http({ url: urlBase + model, method: "DELETE", params: params});
		    };
		    
		    return ConexaoWS;
		
		}]);
		
		
            
            
            
    </script>
	
	<script type="text/javascript">
	    window.smartlook||(function(d) {
	    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
	    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
	    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
	    })(document);
	    smartlook('init', '440a91a5c590b5fb3d6d8eefe657603855ff1400');
	</script>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119872477-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119872477-1');
</script>

</html>

